.section-footer-con {
    margin-top: 195px
}

.section-footer-con .footer-info-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.footer-info-con .logo {
    
}
.footer-info-con .logo h1 {
    background: linear-gradient(to right, #5076d7 0%, #f82e2e 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-info-con  .footer-contact {
    width: 40%;

    display: flex;
    justify-content: space-between;
}
.footer-info-con  .footer-contact .email {
    color: gray;
    font-size: 18px;
    width: 70%;
}
.footer-info-con  .footer-contact .social {
    width: 30%;

    display: flex;
    justify-content: space-between;
}

.section-footer-con .menu-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 0 4rem 0;
}
.section-footer-con .menu-con .menu {

    width: 50%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-footer-con .menu a{
    color: gray;
    text-decoration: none;
    font-size: 16px;
}


.section-footer-con .menu-con .menu-icon {

    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* mobile screen */
@media (max-width: 480px) {
    .section-footer-con {
        margin-top: 100px
    }

    .section-footer-con .footer-info-con {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }
    .footer-info-con .logo {
        text-align: center;
    }
    .footer-info-con .logo h1 {
       font-size: 24px;
    }
    
    .footer-info-con  .footer-contact {   
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .footer-info-con  .footer-contact .email {
        font-size: 14px;
        text-align: center;
        margin-bottom: 24px;
    }
    .footer-info-con  .footer-contact .social {
        width: 50%;
    }
    
    .section-footer-con .menu-con {
        flex-direction: column;
       
    }
    .section-footer-con .menu-con .menu {
        width: 100%;
        margin-bottom: 24px;
    }
    .section-footer-con .menu a{
        font-size: 12px;
    }
    
    
    .section-footer-con .menu-con .menu-icon {
        width: 30%;
    }
}

/* tablets screen */
@media (max-width: 768px) {}

/* laptops screen */
@media (max-width: 1024px) {
    .section-footer-con {
        margin-top: 100px
    }

    .section-footer-con .footer-info-con {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }
    .footer-info-con .logo {
        text-align: center;
    }
    .footer-info-con .logo h1 {
       font-size: 24px;
    }
    
    .footer-info-con  .footer-contact {   
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .footer-info-con  .footer-contact .email {
        font-size: 14px;
        text-align: center;
        margin-bottom: 24px;
    }
    .footer-info-con  .footer-contact .social {
        width: 50%;
    }
    
    .section-footer-con .menu-con {
        flex-direction: column;
       
    }
    .section-footer-con .menu-con .menu {
        width: 100%;
        margin-bottom: 24px;
    }
    .section-footer-con .menu a{
        font-size: 12px;
    }
    
    
    .section-footer-con .menu-con .menu-icon {
        width: 30%;
    }
}

/* large screen */
@media (max-width: 1200px) {}
